language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  coverage run --source=duckduckpy setup.py test
after_success:
  coveralls
